ZETKIN_DOMAIN=dev.zetkin.org
ZETKIN_CONSUMER_ID=
ZETKIN_CONSUMER_SECRET=
ZETKIN_SESSION_SECRET=
ZETKIN_CLIENT_PROTOCOL=http # or https
ZETKIN_CLIENT_DOMAIN=
ZETKIN_PROVIDER_PROTOCOL=http # or https
ZETKIN_ORG_ID=9
ZETKIN_ADMIN_USERNAME=
ZETKIN_ADMIN_PASSWORD=
ZETKIN_OTP=999999
ZETKIN_NGROK_DOMAIN=
NGROK_TOKEN=
ZETKIN_NGROK_REGION=
GOCARDLESS_WEBHOOK_ENDPOINT_SECRET=
GOCARDLESS_ACCESS_TOKEN=
ZAMMAD_BASE_URL=https://test-common-knowledge.zammad.com
ZAMMAD_ADMIN_USERNAME=
ZAMMAD_ADMIN_PASSWORD=
ZAMMAD_NEW_TICKET_GROUP_NAME=